body {
  background-color: #f1f1f1 !important;
}

label {
  font-weight: 700;
  margin: 0 !important;
}

h1,
h2,
h3 {
  font-weight: 700 !important;
}

button {
  border: 0 !important;
  border-radius: 16px !important;
  background-color: rgb(179, 179, 179) !important;
}

button:hover {
  background-color: rgb(143, 142, 142) !important;
}

button.male {
  background-color: rgb(65, 134, 173) !important;
}

button.male:hover {
  background-color: rgb(47, 116, 156) !important;
}

button.female {
  background-color: rgb(207, 115, 153) !important;
}

button.female:hover {
  background-color: rgb(185, 84, 126) !important;
}

.container {
  width: 800px !important;
  padding: 10px 0;
}

header {
  text-align: center;
}

header input {
  border: 0 !important;
  border-radius: 16px !important;
  text-align: center;
}

.pet {
  margin: 10px 0;
  padding: 10px;
  border: 0 !important;
  border-radius: 16px !important;
}

.pet-img {
  width: 200px;
  height: 200px;
  border-radius: 16px !important;
  background-position: center;
  background-size: cover;
}

.pet-info {
  padding: 0 15px;
}

.gender {
  font-style: italic;
}

.gender.male {
  color: rgb(81, 144, 180);
}

.gender.female {
  color: rgb(207, 115, 153);
}